<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <%= render 'shared/navigation' %>

    <div class="space"></div>

    <% flash.each do |name,msg| %>
      <%= render :partial => 'shared/flash_message', locals: { name: name, msg: msg } %>
    <% end %>
  </header>

  <body>
    <%= yield %>
  </body>
</html>